
<div class="product">
  <a href="/srt905">
    <img class = pic src="../../assets/srt905.jpg">
  </a>   
    <div class="name"><strong>Name: </strong>SRT-905</div>
</div>
  <div class="product">
    <a href="/ec401">
    <img class = pic src="assets/EC401.jpg">
  </a>
    <div class="name"><strong>Name: </strong>EC-401</div>
</div>
  <div class="product">
    <a href="/rga72">
      <img class = pic src="assets/RG72.jpg">
    </a>
    
    <div class="name"><strong>Name: </strong>RGA-72QTM</div>
  </div>
<!-- 
    <div class="product">
      <a *ngFor="let item of guitars">
        <a [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <app-product></app-product>
        </a>       
      </a>
    </div> -->
    <div padding="20px">
      <ul>
        <app-about></app-about>
      </ul>
    </div>
    <div>
      <ul>This is to show the section underneath all of these products</ul>
      <ul>P.S. This page is very very ugly</ul>
    </div>
