
<div>this class is not working yet</div>
<div class="product">
  <a [href]="data.path" ><img [src]="data.image"></a>
  <h5>{{ data.name }}</h5>
  <p> Brand: {{ data.brand }}</p>
</div>

<!-- <div class="product">
    <a href="/srt905"><img class = pic src="assets/srt905.jpg"></a> 
      <div class="name"><strong>Name: </strong>{{ currentProduct.productName }}</div>
      <div class="Strings"><strong>Strings: </strong>{{ currentProduct.strings }}</div>
      <div class="brand"><strong>Brand: </strong>{{ currentProduct.brand }}</div>

    <img class = pic src="assets/EC401.jpg">
      <div class="name"><strong>Name: </strong>{{ currentProduct.name }}</div>
      <div class="Strings"><strong>Strings: </strong>{{ currentProduct.strings }}</div>
      <div class="brand"><strong>Brand: </strong>{{ currentProduct.brand }}</div>

    <img class = pic src="assets/RG72.jpg">
      <div class="name"><strong>Name: </strong>{{ currentProduct.name }}</div>
      <div class="Strings"><strong>Strings: </strong>{{ currentProduct.strings }}</div>
      <div class="brand"><strong>Brand: </strong>{{ currentProduct.brand }}</div>
</div> -->

